params {
    reads                 = "data/*_{R1,R2}.fastq.gz"
    reference             = "ref/reference.fa"
    adapters              = "ref/adapters.fa"
    outdir                = "results"
    trimmomatic_container = "${baseDir}/containers/trimmomatic.sif"
    threads               = 4
    minlen                = 32
}

process {
    executor = 'local'
    cpus = 4
    memory = '32 GB'
    errorStrategy = 'terminate'
}

singularity {
    enabled = true
    autoMounts = true
}
